<body class='body'>
  <main class='main container'>
    <div class='wrapper'>
      <div class='wrapperInner'>

        <form class='loginForm'>
          <div class='lofinFormTitleDiv'>
            <h1>Регистрация</h1>
            <p class='error loginFormErrorMessage'></p>
          </div>
          <div class='loginInputGroup'>
            <label for='nameInput'>Введите имя</label>
            <input
              type='text'
              class='input loginFormNameInput'
              id='nameInput'
              placeholder='Иван Иванов'
            />
          </div>
          <button class='btn btn-outline-primary loginFormLoginBtn'>Войти</button>
        </form>
      </div>
    </div>
  </main>
  <script src='client/assets/js/login.js'></script>
</body>