<footer class='footer container'>
  <div class='footerLeft'>
    <div class='authorDiv'>
      <span>Author: </span>
      <a href='https://vk.com/vchernyshev' target='_blank'>Vladislav Chernsyhev</a>
    </div>
  </div>
  <div class='footerRight'>
    <span>07.03.2023</span>
  </div>
</footer>