<div class='popupOverlay'>
  <div class='popup'>
    <div class='popupTitleScoreDiv'>
      <h5 class='popupTitleScore'></h5>
    </div>
    <div class='popupButtons'>
      <a href='/' class='btn btn-secondary goBackBtn'>Выйти</a>
      <button class='btn btn-primary stayHereBtn'>Ответы</button>
    </div>
  </div>
</div>
<script src='client/assets/js/popup.js'></script>